<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Scheduled Task Test Settings</title>
        <title lang="de-DE">Scheduled Task Test Einstellungen</title>
        
        <input-field>
            <name>workingDirectory</name>
            <label>Enter the working directory here</label>
            <label lang="de-DE">Tragen Sie hier das Arbeitsverzeichnis ein</label>          
            <placeholder>/home/www/b90/server81login-server/_zpmv-pmo.de/public/</placeholder>
            <helpText>Full path of the public folder in your shopware installation</helpText>
            <helpText lang="de-DE">Vollständigen Pfad zum public Ordner Ihrer Shopware installation</helpText>
        </input-field>
    </card>
</config>